.container {
  min-height: 50vh;
  background-color: #f5f6f8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  border: solid black 1px;
}
.card {
  padding: 2rem;
  width: 100%;
  width: 420px;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

label {
  font-size: 0.9rem;
  text-align: left;
}

input {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border-color: #4f46e5;
}

button {
  padding: 0.7rem;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #4338ca;
}

.signup {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
}
